<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        mumudeveloper
    </title>
</head>

<body>
    <div id="app">
    </div>
</body>

<!--Build Script-->
<script type="text/javascript" src="/dist/manifest.js"></script>
<script type="text/javascript" src="/dist/vendor.js"></script>
<script type="text/javascript" src="/dist/main.js"></script>

</html>