<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        mumudeveloper
    </title>
</head>

<body>
    <div id="app">
        <el-menu router="router" default-active="home" class="el-menu-demo" mode="horizontal" unique-opened="unique-opened" default-active="Home">
            <el-menu-item index="home">Home</el-menu-item>
            <el-menu-item index="excelTool">excelTool</el-menu-item>
            <div class="nav-setting">
                <el-submenu index="profile">
                    <template slot="title"><i class="el-icon-setting"></i></template>
                    <el-menu-item index="setting">Setting</el-menu-item>
                    <a href="/logout">
                        <el-menu-item index="logout">Logout</el-menu-item>
                    </a>
                </el-submenu>
            </div>
        </el-menu>
        <router-view></router-view>
    </div>
</body>

<!--Build Script-->
<script type="text/javascript" src="/dist/manifest.js"></script>
<script type="text/javascript" src="/dist/vendor.js"></script>
<script type="text/javascript" src="/dist/app.js"></script>

</html>