<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        mumudeveloper
    </title>
</head>

<body>
    <div id="app">
        <el-menu router="router" theme="dark" default-active="1" class="el-menu-demo" mode="horizontal">
            <el-menu-item index="home">Home</el-menu-item>
            <el-menu-item index="order">Order</el-menu-item>
        </el-menu>
        <router-view></router-view>
    </div>
</body>

<!--Build Script-->
<script type="text/javascript" src="/dist/manifest.js"></script>
<script type="text/javascript" src="/dist/vendor.js"></script>
<script type="text/javascript" src="/dist/app.js"></script>

</html>
<style>
    body {
        margin: 0;
    }
    
    .el-menu-vertical {
        position: absolute;
        left: 0;
        top: 57px;
        width: 205px;
        background-color: lightskyblue;
        border-left-width: 0;
        height: 700px;
    }
    
    .content {
        margin-left: 210px;
        top: 57px;
    }
    
    .sidebar {
        left: 0;
        top: 0;
        height: 57px;
        background-color: lightskyblue;
    }
</style>