<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        mumudeveloper
    </title>
</head>

<body>
    <el-row id="login" type="flex" justify="center">
        <el-col :span="6" class="login">
            <h1>mumudeveloper</h1>
            <p class="login-p">username: demo<br>password: demo</p>
            <el-form :model="loginForm" :rules="rules2" ref="loginForm" label-width="40px" class="demo-ruleForm">
                <el-form-item label="用户" prop="username">
                    <el-input v-model="loginForm.username"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input type="password" v-model="loginForm.password"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" class="submit-btn" @click="submitForm('loginForm')">提交</el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</body>

<!--Build Script-->
<script type="text/javascript" src="/dist/manifest.js"></script>
<script type="text/javascript" src="/dist/vendor.js"></script>
<script type="text/javascript" src="/dist/login.js"></script>

</html>