.nav-setting{
    float: right;
}
body {
    margin: 0;
}

.el-menu-vertical {
    position: absolute;
    left: 0;
    top: 57px;
    width: 205px;
    background-color: lightskyblue;
    border-left-width: 0;
    height: 700px;
}

.content {
    margin-left: 210px;
    top: 57px;
}

.sidebar {
    left: 0;
    top: 0;
    height: 57px;
    background-color: lightskyblue;
}